@model IEnumerable<WebApp.ViewModels.VendaVM>
@using System.Globalization
@using System.Collections

@{  
    ViewBag.Title = "Lista de Vendas";
}

<div class="site-container">
    <div id="" class="alert alert-light alert-dismissible fade show alert2" role="alert">
        <i class="fa-solid fa-bell ifa"></i>&nbsp;&nbsp;
        <span class="textdot">API VENDA</span> está conectada diretamente á API.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>   
    <br />
    <div class="card">
        <table id="minhaTabela" class="row-border cell-border compact stripe1 responsive table text-center">
            <thead>
                <tr>            
                    <th>@Html.DisplayName("ID")</th>
                    <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                    <th>@Html.DisplayNameFor(model => model.ValorCurrency)</th>
                    <th>@Html.DisplayNameFor(model => model.VendedorNome)</th>
                    <th>@Html.DisplayNameFor(model => model.DtInclusaoStr)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr1">
                    <td id="idcliente">@Html.DisplayFor(modelItem => item.Id)</td>
                    <td class="alileft">@Html.DisplayFor(modelItem => item.Descricao)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValorCurrency)</td>
                    <td>@Html.DisplayFor(modelItem => item.VendedorNome)</td>
                    <td>@Html.DisplayFor(modelItem => item.DtInclusaoStr)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div class="catalog"></div>
    <div class="modal fade card card2" id="ModalDetalhes" tabindex="-1" aria-labelledby="DetalharRegistro" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body" id="DivConteudo"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade card card2" tabindex="-1" id="ModalCorfimaExclusao" aria-labelledby="ConfirmarExclusao" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Apagar registro</h3>
                </div>
                <div class="modal-body">
                    <p>Confirma a exclusao permanente do registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-light" id="confirm-delete-ok">Sim</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        let idrow = 0;
        let url;
        let local = 'Desenv';
        let app = 'Site5';
        let action = 'Index';

            if (local == 'Producao') {
                url = '/' + app + '/VendaAPI';
                urlscripts = app;
            }
            else if (local == 'Desenv') {
                url = '/VendaAPI';
            }
    
        $(document).ready(function () {            
            $.ajax({
                type: 'GET',
                url: url + '/' + action,
                cache: true,
                success: function (d) {
                    var table = $('#minhaTabela').dataTable({
                        responsive: true,
                        processing: true,
                        serverSide: false,
                        paging: true,
                        info: true,
                        searching: true,                      
                        cache: true,
                        data: d.data,
                        select: true,

                        pagingType: 'simple_numbers',
                        stripeClasses: [],       
                        
                        lengthMenu: [
                            [7 ,15, 30, -1],
                            [7, 15, 30, 'Todos'],
                        ],                        

                        lengthChange: true,

                        buttons: [
                            { extend: 'excel', className: 'btn btn-primary', text: '<i class="far fa-file-excel"></i>' },
                            { extend: 'pdf', className: 'btn btn-primary',  text: '<i class="fa-regular fa-file-pdf"></i>' },
                            { extend: 'print', className: 'btn btn-primary', text: '<i class="fa-solid fa-print"></i>' }
                        ],
            
                        aoColumnDefs: [
                            { "orderable": false, "targets": [0] },
                            { "orderable": true, "targets": [1, 2, 3, 4] },
                            { "visible": true, "targets": [ 0, 1, 2, 3, 4] },                           
                            { "className": "dt-left", "targets": [0, 1] },
                            { "className": "dt-center", "targets": [2, 3, 4] }                              
                        ],                                              

                        columns: [
                              { "data": "Id", "class": "minhaTabelaCelula" },
                              { "data": "Desccricao", "class": "minhaTabelaCelula" },
                              { "data": "Valor", "class": "minhaTabelaCelula" },
                              { "data": "VendedorNome", "class": "minhaTabelaCelula" },
                              { "data": "DtInclusao", "class": "minhaTabelaCelula" },
                             
                        ],

                        language: {
                            url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/pt-BR.json'
                        },
                             drawCallback: function (settings) {
          console.log('drawCallback');
          $('[data-toggle="tooltip"]').tooltip();
        }
                    });

                    table.on('click', 'button', function (e) {
                    

                    });
                },
                failure: function (err) {
                }
            });          

            
            $('#minhaTabela').on('click', 'tr', function () {
                                                var spanValue = $(this).find('td:eq(5) span:first').text();
                                                console.log(spanValue);
            });            
            

      });      

        function fDelete(idrow) {
            $.post('@Url.Action("DeleteApi", "VendaAPI")', { id: idrow }, function(response) {
                    window.location.href = '@Url.Action("index", "VendaAPI")';
            })
            .fail(function(jqxhr, textStatus, errorThrown) {
                var isUserAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
                if (!isUserAuthorized) {
                       window.location.href = '@Url.Action("login", "Account")';
                }
            });
        };       

    </script>
}
